<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
    <link rel="stylesheet" href="todo.css">

  </head>

  <body ng-controller='ToDoListController as toDoCtrl'>
    <h2 class="total">Total todos: {{toDoCtrl.totalToDos()}}</h2>
    <ul>
      <li ng-repeat="todo in toDoCtrl.todos">
        <input class="checkbox" type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form>
      <input type="text" ng-model="toDoCtrl.formTodoText" ng-model-instant>
      <button class="btn" ng-click="toDoCtrl.addToDo()" value="Addtodo" >Add</button>
    </form>

    <button class="delete" ng-click="toDoCtrl.deleteCompleted()" value="delete">Delete Completed</button>

  </body>
</html>
